<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pranav's portfolio showcasing Development skills, projects, and expertise in front-end and back-end technologies. Explore my work, skills, and contact information.">
    <meta name="author" content="Pranav Chavan">
    <meta name="keywords" content="web development, portfolio, Pranav Chavan, Pranav, chavan, front-end, back-end, JavaScript, HTML, CSS, React, Node.js, powerBI, sql, JAVA, PYTHON, projects, MERN stack, Linux, Devops, DSA, Tomcat, Spring Boot">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Pranav Chavan - Web Developer Portfolio">
    <meta property="og:description" content="Explore Pranav Chavan's portfolio, showcasing web development skills and projects. Get in touch and discover my expertise in web technologies.">
    <meta property="og:image" content=" "> <!-- Optional: Add an image for social sharing -->
    <meta property="og:url" content=" ">
    <meta name="twitter:card" content=" ">
    <meta name="twitter:title" content="Pranav Chavan - Developer's Portfolio">
    <meta name="twitter:description" content="Explore Pranav's portfolio, showcasing Development skills, Projects and also blogs.">
    <meta name="twitter:image" content=" "> <!-- Optional: Add an image for Twitter sharing -->
    <link rel="icon" href="/Images/Untitled.png" type="image/png"> 
    <title>Pranav Chavan</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<div id="wrapper">
<div class="container">
    <div class="navbar">
        <div class="name-container">
            <p>Pranav Chavan</p>
        </div>
        <div class="section-container">
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </div>
    </div>
</div>  
</div>
</body>
</html>
